<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Streaming With Node</title>
    <style>
      body {
        margin: 5% auto;
        max-width: 100%;
        background-color: rgb(247, 247, 247);
        padding-top: 10%;
        padding-left: 35%;
      }
    </style>
  </head>
  <body>
    <div id="cardContainer">
      <!-- Movie cards will be dynamically added here -->
    </div>

    <script>
      // Function to handle the click event for movie cards
      function movieCardClickHandler(event) {
        const movieData = {
          id: event.target.dataset.movieId,
          title: event.target.dataset.movieTitle,
          subtileBucketName: event.target.dataset.movieSubtileBucketName,
          // Add more data properties as needed
        };

        // Send movie data to the backend
        sendMovieDataToBackend(movieData);
      }

      // Function to send movie data to the backend
      function sendMovieDataToBackend(movieData) {
        // Simulate sending movie data to the backend using fetch API
        fetch("http://localhost:8000/videos", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(movieData),
        })
          .then((response) => {
            if (response.ok) {
              console.log("Movie data sent successfully!");
              window.location.href = "http://localhost:8000";
            } else {
              console.error("Failed to send movie data:", response.status);
            }
          })
          .catch((error) => {
            console.error("Error sending movie data:", error);
          });
      }

      // Create movie cards dynamically
      const movies = [
        {
          id: "firstVideo.mp4",
          title: "Movie 1",
          subtileBucketName: "firstVideo.mp4",
        },
        {
          id: "Screencast.mp4",
          title: "Movie 2",
          subtileBucketName: "Screencast.mp4",
        },
        {
          id: "youtube.mp4",
          title: "Movie 3",
          subtileBucketName: "youtube.srt",
        },
      ];

      movies.forEach((movie) => {
        const card = document.createElement("div");
        card.classList.add("card");
        card.textContent = movie.title;

        // Set data attributes for movie ID and title
        card.dataset.movieId = movie.id;
        card.dataset.movieTitle = movie.title;
        card.dataset.movieSubtileBucketName = movie.subtileBucketName;

        // Add click event listener to each movie card
        card.addEventListener("click", movieCardClickHandler);

        document.getElementById("cardContainer").appendChild(card);
      });
    </script>
  </body>
</html>
